body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
}
.container {
    display:block;
    position: relative;
    width: 100%;
    height: 85%;
}
.split {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    float: left;
    color: white;
}
.left {
    background-image: url('../res/blurred.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 2.5em;
    text-transform: uppercase;
    width: 100%;
}
.right {
    background-color: rgb(61, 61, 61);
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    .container {
        height: 85%;
    }
    .left {
        width: 65%;
    }
    .right {
        width: 35%;
    }
}

.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.left .centered img {
    width: 400px;
    border-radius: 50%;
}

.sm_container {
    margin: 15px;
    text-align: center;
}
.sm_container a {
    margin: 0 3%;
}
.sm_container img {
    width: 40px;
    filter: brightness(0) invert(1);
    transition: filter 0.1s;
}
.sm_container img:hover {
    filter: none;
    background-color: white;
}