@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
}
@font-face{
    font-family: 'Roboto Thin';
    src: url('fonts/Roboto-Thin-webfont.woff') format('woff');
}

body {
    margin: 0;
    font-family: 'Roboto Thin', sans-serif;
}

.title {
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    width: 70%;
    margin: 0 10px;
    text-align: center; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 2em;
}

.container {
    display:block;
    position: relative;
    width: 100%;
    height: 130vw;
}

/* This is to stop container height from resizing when screen is smaller than 350px */
@media only screen and (max-width: 350px){
    .container {
        height: 46%;   
    }
}

.split {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    float: left;
    color: white;
}
.left {
    background-image: url('../res/blurred.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    text-transform: uppercase;
}
.right {
    background-color: rgb(61, 61, 61);
    width: 100%;
}

.centered {
    position: absolute;
    top:48%;
    width: 100%;
    left:50%;
    height: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.left .centered img {
    height: 90%;
    border-radius: 50%;
}
.left .centered p {
    font-family: 'Roboto Thin';
    font-size: 2.7em;
    margin-top: 6%;
    color: rgb(226, 226, 226);
}

.sm_container {
    margin: 15px;
    text-align: center;
}
.sm_container a {
    margin: 0 3%;
}
.sm_container img {
    width: 30px;
    filter: brightness(0) invert(1);
    transition: filter 0.1s;
}
.sm_container img:hover {
    filter: none;
    background-color: white;
}

@media only screen and (min-width: 800px) {
    .container {
        height: 85%;
    }
    .left {
        width: 60%;
    }
    .left .centered p {
        margin-top: 40px;
        font-size: 4em;
    }
    .right {
        width: 40%;
    }
}